{% extends 'base.html.twig' %}

{% block title %}Générate token{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/natStyle.css') }}">
{% endblock %}

{% block body %}
    
<div class="container-fluid mx-auto" style="width: 800px;"> <!-- Augmenter la largeur si nécessaire -->
    <div class="d-flex align-items-start">        
        <div>
            <h1 class="mb-4">Génération de lien</h1>

            {{ form_start(userForm) }}
            <div class="mb-3">
                {{ form_row(userForm.email) }}
            </div>
              <button class="btn btn-dark btn-sm m-1" type="submit">
            Reset password
        </button>
            {{ form_end(userForm) }}
            
        </div>
    </div>
</div>
{% endblock %}

      

      

      